<!DOCTYPE html>
<html>

<head>
    <style>
        .center {
            text-align: center
        }

        .whole-page {
            height: 90vh
        }

        .section {
            min-height: 100vh;
        }

        .row {
            margin-top:10vh;
             margin-bottom: 10vh
        }

        .section-small {
            min-height: 50vh;
        }

        .timeline {
            list-style: none;
            padding: 20px 0 20px;
            position: relative;
        }

        .timeline:before {
            top: 0;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 3px;
            background-color: #eeeeee;
            left: 50%;
            margin-left: -1.5px;
        }

        .timeline>li {
            margin-bottom: 20px;
            position: relative;
        }

        .timeline>li:before,
        .timeline>li:after {
            content: " ";
            display: table;
        }

        .timeline>li:after {
            clear: both;
        }

        .timeline>li:before,
        .timeline>li:after {
            content: " ";
            display: table;
        }

        .timeline>li:after {
            clear: both;
        }

        .timeline>li>.timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
        
        }

        .timeline>li>.timeline-panel:before {
            position: absolute;
            top: 12px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline>li>.timeline-panel:after {
            position: absolute;
            top: 13px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
        }

        .timeline>li>.timeline-badge {
            color: #fff;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -12px;
            background-color: #F77327;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline>li.timeline-inverted>.timeline-panel {
            float: right;
        }

        .timeline>li.timeline-inverted>.timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .timeline>li.timeline-inverted>.timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }


        .timeline-title {
            margin-top: 0;
            color: darkgray;
        }

        .timeline-body>p,
        .timeline-body>ul {
            margin-bottom: 0;
            color: gray
        }

    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <div class="section" style="background-color: rgb(196, 196, 223);background-image:url('/image/background.png'); background-size: 90% 120%; background-position: center center;">
        <div class="container">
                <div class="center">
                    <h1 style="margin-top:30vh; font-size:60px; color:#FFFFFF;">
                        <b><%- title %></b>
                    </h1>
                   Starts in<h1 id="timer" style="color:#FFFFFF; font-size:23px; margin-bottom:5vh"></h1>
                    <a href="#Rules" class="btn btn-danger">Learn More</a>
            </div>
        </div>
    </div>



    <div class="section" style="background-color: #6C8999">
        <div id = "Rules"></div>
        <div class="container">
            <div class="row" style="margin-top:10vh; margin-bottom: 10vh">
                <h2>Rules</h2>
                <%- include("../rules.html"); %>
            </div>
        </div>
    </div>




    <div class="section-small" style="background-color: #FFFFFF">
            <div class="container">
                    <div class="row">
                        <h2 id="Schedule" style="color: gray">Schedule</h2>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">10:00AM</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis
                                        porris, paradis. Paisis, filhis, espiritis santis. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">12:00PM</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis
                                        porris, paradis. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">4:30PM</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis
                                        porris, paradis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">6:00PM</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis
                                            porris, paradis. </p>
                                    </div>
                                </div>
                            </li>
                    </ul>
                </div>
                </div>
    </div>



<div class="section-small" style="background-color: #FC6620">
        <div class="container">
        <div class="row">
                <h2>FAQs</h2>
                <% for(var i=0; i<qa.length; i++) {%>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Q:
                                    <%= qa[i].question%>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <%= qa[i].answer%>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            </div>
</div>

<div class="section-small" style="background-color: #2F3235">
        <div class="container">
    <div class="row">
        <form class="form-horizontal" action="/team" method="post">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Captain's Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Team Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="teamName" placeholder="">
                    
                    </div>
                </div>
                <div style = "float:right">
                        <input type="submit" class="btn btn-primary">
                </div>
                    
                </div>
            </div>
            </div>
    </div>
    </fieldset>
    </form>
    </div>
    </div>



    <script>
        var countDownDate = new Date('<%= time %>').getTime();

        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("timer").innerHTML = days + "D " + hours + "H "
            + minutes + "M " + seconds + "S";

        var x = setInterval(function () {
            var now = new Date().getTime();
            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("timer").innerHTML = days + "D " + hours + "H "
                + minutes + "M " + seconds + "S ";

            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "COMPETITITON BEGIN";
            }
        }, 1000);
    </script>
    <script>
        $(document).ready(function () {
            $("a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>



</body>

</html>